/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/vendor
/public/themes
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/ignorables/*
composer.lock
package-lock.json
/nbproject/*
.phpintel
robots.txt